.p-continer{
    background-color: rgba(42, 118, 180, 0.541);
    color: white;
}

.projectContainer{
    margin: 20px 100px;
    padding: 70px 0 80px 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.221);
}
.pc-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.pc-head > h1{
    font-size: 22px;
}
.bar2{
    width: 60%;
    height: 5px;
    margin-top: 5px;
    background-color: aqua;
}
.projectlist{
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}



.projectcard{
    width: 320px;
    border-radius: 20px;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    cursor: pointer;
    background-color: #09a9d257;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* Add animation properties */
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
/* Define the floating animation */
@keyframes floating {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .projectcard.show {
    animation-name: popOut;
    animation-duration: 0.5s;
  }
  
  @keyframes popOut {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
.projectcard:hover{
    background-color: #09aad298;
}
.projectcard img{
    border-radius: 20px 20px 0 0;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16/8;
}
.details-pc{
    padding: 10px 15px;
}
.details-pc > h1{
    font-size: 16px;
    padding:  3px 0;
}
.details-pc > p{
    font-size: 13px;
    color: rgb(223, 213, 213);
}
.teckstack{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    padding: 5px 15px;
}
.teckstack > p{
    color: rgba(191, 185, 185, 0.92);
    font-size: 14px;
    border: 1px solid rgba(231, 228, 228, 0.402);
    padding: 3px 7px;
    border-radius: 10px;
}
.btn-pc{
    padding: 10px 15px 20px 10px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    text-decoration: none;
}
.btn-pc > a{
    width: 45%;
    text-decoration: none;
    color: black;
    background-color: aqua;
    margin: 4px 0;
    padding: 5px;
    border-radius: 10px;
}
.btn-pc > a:hover{
    background-color: rgb(117, 255, 255);
}


@media screen and (max-width: 800px) {
    .projectContainer{
        margin: 20px 0;
        padding: 20px;
        padding-top: 45px;
        align-items: center;
        text-align: center;
    }
    .pc-head > h1{
        font-size: 18px;
    }
    .projectlist{
        justify-content: center;
        gap: 15px;
    }
    .projectcard{
        width: 100%;
    }
}