.edu-container{
    padding: 80px 0;
    border-bottom: 1px solid rgba(58, 189, 209, 0.377);
}
.cousework-c{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.cw-title{
    margin: 10px 0;
    color: rgba(255, 255, 255, 0.838);
}
.cousework-c > h5{
    border: 1px solid gray;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.838);
    transition: color 0.3s, background-color 0.3s; /* Add transition property for color and background-color */
}
.cousework-c > h5:hover {
    color: #fff; /* Change this to the desired color when hovering */
    background-color: rgba(48, 183, 220, 0.9); /* Add the desired background color when hovering */
    animation: glow 1s infinite alternate; /* Add the glow animation */
  }
  
  @keyframes glow {
    0% {
      box-shadow: 0 0 5px rgba(48, 183, 220, 0.9); /* Change this to the desired glow effect */
    }
    100% {
      box-shadow: 0 0 20px rgba(48, 183, 220, 0.9); /* Change this to the desired glow effect */
    }
  }

@media screen and (max-width: 900px){
    .edu-container{
        padding: 20px 0;
    }
    .cousework-c{
        align-items: center;
        /* justify-content: center; */
    }
    .cousework-c h5{
        font-size: 12px;
        padding: 7px 13px;
    }
}