.skillscontainer{
    margin: 30px 100px;
    padding: 70px 0 50px 0;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    color: #fff;
}
.skillslowwer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

     /* Add animation properties */
     animation-name: floating;
     animation-duration: 3s;
     animation-iteration-count: infinite;
     animation-timing-function: ease-in-out;

}
/* Define the floating animation */
@keyframes floating {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }

.skillContainerCard{
    background-color: rgba(42, 118, 180, 0.541);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: black;
    margin: 10px;
    padding: 15px 10px;
    width: 250px;
    border-radius: 20px;
    cursor: pointer;
}
.skillContainerCard:hover{
    background-color: rgba(42, 118, 180, 1);
}

.skill-heading{
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 10px;
}
.partition{
    width: 40%;
    height: 3px;
    background-color: rgb(82, 181, 223);
    margin-bottom: 25px;
}
.skill-name{
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 5px 0;
}
.skill-name p{
    color: white;
    font-size: 15px;
    font-weight: bolder;
}
.skills-logo{
    width: 25px;
}
.skillcontent{
    padding: 10px 20px;
}



@media screen and (max-width: 800px) {
    .skillscontainer{
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
        margin: 20px;
    }
    .skillContainerCard{
        width: 100%;
        margin: 0;
        padding: 20px 0;
    }
    .skillcontent{
        padding-left: 30px;

    }
    .skillslowwer{
        gap: 10px;
    }
  }
