.aboutcontainer{
    background-color: rgba(27, 66, 66, 0.541);
    color:#fff;
    padding: 60px 0;
}
.partrightAbout > p{
    font-size: 15px;
    line-height: 30px;
}
.partrightAbout > a{
    background-color: #9EC8B9;
    padding: 10px 40px;
    border-radius: 10px;
    float: right;
    text-decoration: none;
    color: rgb(33, 32, 39);
    font-size: 18px;
    font-weight: bolder;
    margin-top: 50px;
}




@media screen and (max-width: 900px){
    .aboutcontainer{
        padding: 20px 0;
    }
    .partrightAbout >p{
        line-height: 20px;
        text-align: justify;
    }
    .partrightAbout > a{
        font-size: 15px;
        padding: 7px 30px;
    }
}