.mycardContainer{
    padding: 70px 40px;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    display: flex;
    justify-content: center;
}
.myPersonalCard {
    background: rgba(48, 183, 220, 0.797);
    color: #fff;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    border-radius: 20px;
    width: 90%;
    height: 350px;
    animation: cardAnimation 1s ease-in-out;
  }
  
  @keyframes cardAnimation {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .online-logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin-top: 5px;
  }
  .online-logo{
    height: 30px;
    /* width: 50px; */
  }
  
  .title > h1 {
    font-size: 5.5em;
    font-weight: 500;
    animation: textAnimation 1s ease-in-out;
  }
  
  @keyframes textAnimation {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .title-tag {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 20px;
    animation: tagAnimation 1s ease-in-out;
  }
  .title-tag> img{
    width: 200px;
      /* Add animation properties */
      animation-name: floating;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
  }

  /* Define the floating animation */
@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
  
  @keyframes tagAnimation {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .titleHead {
    border: 1px solid white;
    padding: 7px 20px;
    border-radius: 10px;
    cursor: pointer;
    animation: tagHeadAnimation 1s ease-in-out;
  }
  
  @keyframes tagHeadAnimation {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .profile-pic {
    width: 150px;
    border-radius: 50%;
    animation: profileAnimation 1s ease-in-out;

  }
  
  @keyframes profileAnimation {
    0% {
      opacity: 0;
      transform: rotateY(180deg);
    }
    100% {
      opacity: 1;
      transform: rotateY(0);
    }
  }
  
  .profilecard {
    align-items: center;
    text-align: center;
    cursor: pointer;
    animation: cardAnimation 1s ease-in-out;
     /* Add animation properties */
     animation-name: floating;
     animation-duration: 3s;
     animation-iteration-count: infinite;
     animation-timing-function: ease-in-out;
  }
  
  .profilecard > p{
    margin: 20px 10px 0 10px;
    padding: 5px;
    border-radius: 10px;
    background-color: #62b1f2;
    color: white;
    font-size: 15px;
    font-weight: 500;
    animation: buttonAnimation 1s ease-in-out;
  }
  
  @keyframes buttonAnimation {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }


  
@media screen and (max-width: 800px) {
    .mycardContainer{
      padding: 70px 20px;
      height: 75vh;
    }
    .myPersonalCard{
        flex-direction: column-reverse;
        height: 500px;
        padding: 50px;
        
    }
    .title > h1{
        font-size: 2rem;
        text-align: center;
        padding: 15px 0 5px 0;
    }
    .title-tag{
        flex-direction: column;
        gap: 15px;
    }
    .title-tag> img{
      width: 150px;
    }
    .titleHead{
        border: 1px solid white;
        padding: 7px 20px;
        border-radius: 10px;
        cursor: pointer;
    }
  }






  body {
    background: #111;
    height: 100vh;
  }
  .wrapper span {
    position: fixed;
    bottom: -180px;
    height: 50px;
    width: 50px;
    z-index: -1;
    background-color: #18191f;
    box-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff, 0 0 200px #0072ff;
    animation: animate 10s linear infinite;
  }
  .wrapper span:nth-child(1) {
    left: 60px;
    animation-delay: 0.6s;
  }
  .wrapper span:nth-child(2) {
    left: 10%;
    animation-delay: 3s;
    width: 60px;
    height: 60px;
  }
  .wrapper span:nth-child(3) {
    left: 20%;
    animation-delay: 2s;
  }
  .wrapper span:nth-child(4) {
    left: 30%;
    animation-delay: 5s;
    width: 80px;
    height: 80px;
  }
  .wrapper span:nth-child(5) {
    left: 40%;
    animation-delay: 1s;
  }
  .wrapper span:nth-child(6) {
    left: 50%;
    animation-delay: 7s;
  }
  .wrapper span:nth-child(7) {
    left: 60%;
    animation-delay: 6s;
    width: 100px;
    height: 100px;
  }
  .wrapper span:nth-child(8) {
    left: 70%;
    animation-delay: 8s;
  }
  .wrapper span:nth-child(9) {
    left: 80%;
    animation-delay: 6s;
    width: 90px;
    height: 90px;
  }
  .wrapper span:nth-child(10) {
    left: 90%;
    animation-delay: 4s;
  }
  .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  @keyframes animate {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    80% {
      opacity: .7;
    }
    100% {
      transform: translateY(-800px) rotate(360deg);
      opacity: 0;
    }
  }
  
  
